<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>939760452813-kka0lv41bsegpro9djb63firscu3af50.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.939760452813-kka0lv41bsegpro9djb63firscu3af50</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>939760452813-roeqvvpohvg3a28pcfdgdvpmsulkigqr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBAPOiRphujX7Mx5dQHgHjEwXCYL5Z9b24</string>
	<key>GCM_SENDER_ID</key>
	<string>939760452813</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.NATIT.Connectbud</string>
	<key>PROJECT_ID</key>
	<string>connectbud-f19f2</string>
	<key>STORAGE_BUCKET</key>
	<string>connectbud-f19f2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:939760452813:ios:7b7fd05989ae550f511584</string>
</dict>
</plist>